interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/26.6025,-81.6233,1459948380?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":26.6025,"longitude":-81.6233,"timezone":"America/New_York","offset":-4,"currently":{"time":1459948380,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":69.98,"apparentTemperature":70.26,"dewPoint":62.1,"humidity":0.76,"windSpeed":10.74,"windBearing":74,"visibility":9.73,"cloudCover":0.13,"pressure":1021.36,"uvIndex":1},"flags":{"sources":["isd"],"isd-stations":["721041-99999","722034-12812","722038-12897","722106-12835","722108-12894","722118-99999","722261-00360","722261-99999","994006-99999","994220-99999","997346-99999","997351-99999","998008-99999","998307-99999","999999-92826","999999-92827"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['57']
      X-Response-Time: [46.856ms]
    status: {code: 200, message: OK}
version: 1
