interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/33.0198,-96.6989,1460043000?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":33.0198,"longitude":-96.6989,"timezone":"America/Chicago","offset":-5,"currently":{"time":1460043000,"summary":"Dry","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":72.04,"apparentTemperature":72.04,"dewPoint":38.03,"humidity":0.29,"windSpeed":10.64,"windBearing":234,"visibility":10,"cloudCover":0.04,"pressure":1015.08,"uvIndex":4},"flags":{"sources":["isd"],"isd-stations":["720291-53970","720299-53966","721044-99999","722094-53984","722143-53975","722479-53907","722489-53911","722541-53914","722580-13960","722588-13926","722589-03991","722590-03927","722594-53909","722598-03970","722599-03971","747390-13961"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['10']
      X-Response-Time: [72.622ms]
    status: {code: 200, message: OK}
version: 1
