interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/33.0198,-96.6989,1459774560?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":33.0198,"longitude":-96.6989,"timezone":"America/Chicago","offset":-5,"currently":{"time":1459774560,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":52.54,"apparentTemperature":52.54,"dewPoint":43.06,"humidity":0.7,"windSpeed":5.36,"windBearing":166,"visibility":9.59,"cloudCover":0,"pressure":1019.12,"uvIndex":0},"flags":{"sources":["isd"],"isd-stations":["720291-53970","720299-53966","721044-99999","722094-53984","722143-53975","722479-53907","722489-53911","722541-53914","722580-13960","722588-13926","722589-03991","722590-03927","722594-53909","722598-03970","722599-03971","747390-13961"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['7']
      X-Response-Time: [65.426ms]
    status: {code: 200, message: OK}
version: 1
