interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/39.4453,-83.8285,1460473260?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":39.4453,"longitude":-83.8285,"timezone":"America/New_York","offset":-4,"currently":{"time":1460473260,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":43.21,"apparentTemperature":38.19,"dewPoint":26.81,"humidity":0.52,"windSpeed":8.66,"windBearing":345,"visibility":10,"cloudCover":0,"pressure":1027.7,"uvIndex":4},"flags":{"sources":["isd"],"isd-stations":["720452-99999","720651-00232","720651-99999","722249-63887","724210-93814","724276-53859","724284-63825","724285-13812","724288-04804","724290-93815","724295-63888","724296-13841","724297-93812","725217-53855","745700-13840","999999-00458"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['61']
      X-Response-Time: [53.325ms]
    status: {code: 200, message: OK}
version: 1
