interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/39.6878,-82.6046,1459773300?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":39.6878,"longitude":-82.6046,"timezone":"America/New_York","offset":-4,"currently":{"time":1459773300,"summary":"Drizzle","icon":"rain","precipIntensity":0.0079,"precipProbability":0.34,"precipType":"rain","temperature":53.62,"apparentTemperature":53.62,"dewPoint":40.48,"humidity":0.61,"windSpeed":11.59,"windBearing":243,"visibility":9.33,"cloudCover":0.48,"pressure":1009.18,"uvIndex":1},"flags":{"sources":["isd"],"isd-stations":["720397-00131","720414-00139","720414-99999","720651-00232","720651-99999","720928-00315","724280-14821","724284-63825","724285-13812","724286-93824","724288-04804","724294-53844","724295-63888","725229-04858","742079-63876","999999-54851"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['27']
      X-Response-Time: [79.609ms]
    status: {code: 200, message: OK}
version: 1
