interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/39.6878,-82.6046,1460125620?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":39.6878,"longitude":-82.6046,"timezone":"America/New_York","offset":-4,"currently":{"time":1460125620,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":38.47,"apparentTemperature":31.5,"dewPoint":26.51,"humidity":0.62,"windSpeed":10.55,"windBearing":289,"visibility":10,"cloudCover":0.18,"pressure":1010.74,"uvIndex":3},"flags":{"sources":["isd"],"isd-stations":["720397-00131","720414-00139","720414-99999","720651-00232","720651-99999","720928-00315","724280-14821","724284-63825","724285-13812","724286-93824","724288-04804","724294-53844","724295-63888","725229-04858","742079-63876","999999-54851"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['31']
      X-Response-Time: [45.044ms]
    status: {code: 200, message: OK}
version: 1
