interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/41.5382,-72.8070,1459778760?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":41.5382,"longitude":-72.807,"timezone":"America/New_York","offset":-4,"currently":{"time":1459778760,"summary":"Clear","icon":"clear-day","precipIntensity":0.0015,"precipProbability":0.01,"precipType":"snow","temperature":30.39,"apparentTemperature":23.28,"dewPoint":26.04,"humidity":0.84,"windSpeed":7.4,"windBearing":47,"visibility":9.22,"pressure":1013.54},"flags":{"sources":["isd"],"isd-stations":["720545-99999","725027-54788","725029-64707","725040-94702","725045-14758","725046-14707","725080-14740","725084-54767","725086-54734","725087-14752","994750-99999","997185-99999","997283-99999","997284-99999","997290-99999","998155-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['48']
      X-Response-Time: [67.720ms]
    status: {code: 200, message: OK}
version: 1
