interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.1453,-83.1560,1460387460?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.1453,"longitude":-83.156,"timezone":"America/Detroit","offset":-4,"currently":{"time":1460387460,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":51.7,"apparentTemperature":51.7,"dewPoint":48.75,"humidity":0.9,"windSpeed":9.2,"windBearing":228,"visibility":4.9,"cloudCover":0.68,"pressure":1008.88,"uvIndex":3},"flags":{"sources":["isd"],"isd-stations":["712980-99999","713030-99999","715380-99999","720113-54829","725370-94847","725373-54819","725374-94889","725375-14822","725376-14853","725377-14804","725418-54823","995016-99999","997219-99999","997295-99999","997344-99999","997996-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['18']
      X-Response-Time: [354.247ms]
    status: {code: 200, message: OK}
version: 1
