interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.1453,-83.1560,1459779180?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.1453,"longitude":-83.156,"timezone":"America/Detroit","offset":-4,"currently":{"time":1459779180,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":29.79,"apparentTemperature":18.19,"dewPoint":25.08,"humidity":0.82,"windSpeed":16.55,"windBearing":16,"visibility":10,"cloudCover":1,"pressure":1015.71,"uvIndex":1},"flags":{"sources":["isd"],"isd-stations":["712980-99999","713030-99999","715380-99999","720113-54829","725370-94847","725373-54819","725374-94889","725375-14822","725376-14853","725377-14804","725418-54823","995016-99999","997219-99999","997295-99999","997344-99999","997996-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['14']
      X-Response-Time: [48.477ms]
    status: {code: 200, message: OK}
version: 1
