interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.3668,-82.9849,1459865040?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.3668,"longitude":-82.9849,"timezone":"America/Detroit","offset":-4,"currently":{"time":1459865040,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":28.41,"apparentTemperature":22,"dewPoint":11.01,"humidity":0.47,"windSpeed":5.95,"windBearing":338,"visibility":10,"cloudCover":0.11,"pressure":1033.73,"uvIndex":2},"flags":{"sources":["isd"],"isd-stations":["712980-99999","713030-99999","715380-99999","720113-54829","725370-94847","725373-54819","725374-94889","725375-14822","725376-14853","725377-14804","725418-54823","726375-94817","997219-99999","997344-99999","997996-99999","998492-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['80']
      X-Response-Time: [81.886ms]
    status: {code: 200, message: OK}
version: 1
