interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.3668,-82.9849,1459951020?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.3668,"longitude":-82.9849,"timezone":"America/Detroit","offset":-4,"currently":{"time":1459951020,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0078,"precipProbability":0.27,"precipType":"rain","temperature":37.81,"apparentTemperature":30.66,"dewPoint":26.68,"humidity":0.64,"windSpeed":10.58,"windBearing":136,"visibility":8.17,"cloudCover":0.31,"pressure":1011.59,"uvIndex":2},"flags":{"sources":["isd"],"isd-stations":["712980-99999","713030-99999","715380-99999","720113-54829","725370-94847","725373-54819","725374-94889","725375-14822","725376-14853","725377-14804","725418-54823","726375-94817","997219-99999","997344-99999","997996-99999","998492-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['81']
      X-Response-Time: [42.342ms]
    status: {code: 200, message: OK}
version: 1
