interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.4982,-83.6176,1459859820?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.4982,"longitude":-83.6176,"timezone":"America/Detroit","offset":-4,"currently":{"time":1459859820,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":25.05,"apparentTemperature":18.98,"dewPoint":13.67,"humidity":0.61,"windSpeed":4.94,"windBearing":348,"visibility":10,"cloudCover":0.09,"pressure":1033.09,"uvIndex":1},"flags":{"sources":["isd"],"isd-stations":["715380-99999","720113-54829","720902-99999","722346-54824","725370-94847","725373-54819","725374-94889","725375-14822","725376-14853","725377-14804","725378-04887","725417-54822","725418-54823","726370-14826","726375-94817","997996-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['77']
      X-Response-Time: [72.842ms]
    status: {code: 200, message: OK}
version: 1
