interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.4982,-83.6176,1459782660?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.4982,"longitude":-83.6176,"timezone":"America/Detroit","offset":-4,"currently":{"time":1459782660,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":29.69,"apparentTemperature":18.7,"dewPoint":21.92,"humidity":0.72,"windSpeed":14.81,"windBearing":25,"visibility":9.99,"cloudCover":1,"pressure":1017.47,"uvIndex":2},"flags":{"sources":["isd"],"isd-stations":["715380-99999","720113-54829","720902-99999","722346-54824","725370-94847","725373-54819","725374-94889","725375-14822","725376-14853","725377-14804","725378-04887","725417-54822","725418-54823","726370-14826","726375-94817","997996-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['62']
      X-Response-Time: [60.325ms]
    status: {code: 200, message: OK}
version: 1
