interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.4257,-83.0437,1459779960?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.4257,"longitude":-83.0437,"timezone":"America/Detroit","offset":-4,"currently":{"time":1459779960,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":28.79,"apparentTemperature":17.18,"dewPoint":22.65,"humidity":0.77,"windSpeed":15.79,"windBearing":23,"visibility":9.94,"cloudCover":1,"pressure":1016.24,"uvIndex":1},"flags":{"sources":["isd"],"isd-stations":["712980-99999","713030-99999","715380-99999","720113-54829","725370-94847","725373-54819","725374-94889","725375-14822","725376-14853","725377-14804","725384-04888","725418-54823","726375-94817","997219-99999","997996-99999","998492-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['20']
      X-Response-Time: [94.798ms]
    status: {code: 200, message: OK}
version: 1
