interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.4257,-83.0437,1460379960?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.4257,"longitude":-83.0437,"timezone":"America/Detroit","offset":-4,"currently":{"time":1460379960,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":49.13,"apparentTemperature":46.01,"dewPoint":47.7,"humidity":0.95,"windSpeed":7.29,"windBearing":233,"visibility":2.84,"pressure":1008.83},"flags":{"sources":["isd"],"isd-stations":["712980-99999","713030-99999","715380-99999","720113-54829","725370-94847","725373-54819","725374-94889","725375-14822","725376-14853","725377-14804","725384-04888","725418-54823","726375-94817","997219-99999","997996-99999","998492-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['25']
      X-Response-Time: [91.449ms]
    status: {code: 200, message: OK}
version: 1
