interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.4606,-83.1346,1459946460?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.4606,"longitude":-83.1346,"timezone":"America/Detroit","offset":-4,"currently":{"time":1459946460,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0036,"precipProbability":0.08,"precipType":"rain","temperature":37.66,"apparentTemperature":31.06,"dewPoint":24.42,"humidity":0.58,"windSpeed":9.33,"windBearing":137,"visibility":8.39,"cloudCover":0.38,"pressure":1013.82,"uvIndex":1},"flags":{"sources":["isd"],"isd-stations":["712980-99999","715380-99999","720113-54829","720902-99999","725370-94847","725373-54819","725374-94889","725375-14822","725376-14853","725377-14804","725384-04888","725418-54823","726375-94817","997219-99999","997996-99999","998492-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['71']
      X-Response-Time: [47.534ms]
    status: {code: 200, message: OK}
version: 1
