interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.5803,-83.0302,1460379840?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.5803,"longitude":-83.0302,"timezone":"America/Detroit","offset":-4,"currently":{"time":1460379840,"summary":"Clear","icon":"clear-day","precipIntensity":0.002,"precipProbability":0.01,"precipType":"rain","temperature":48.39,"apparentTemperature":45.22,"dewPoint":47.27,"humidity":0.96,"windSpeed":7.05,"windBearing":229,"visibility":2.97,"pressure":1008.6},"flags":{"sources":["isd"],"isd-stations":["712980-99999","715380-99999","720113-54829","720902-99999","725370-94847","725373-54819","725375-14822","725376-14853","725377-14804","725384-04888","726375-94817","997219-99999","997258-99999","997996-99999","998339-99999","998492-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['41']
      X-Response-Time: [115.650ms]
    status: {code: 200, message: OK}
version: 1
