interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.5803,-83.0302,1459865700?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.5803,"longitude":-83.0302,"timezone":"America/Detroit","offset":-4,"currently":{"time":1459865700,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":28.68,"apparentTemperature":23.91,"dewPoint":12.02,"humidity":0.49,"windSpeed":4.3,"windBearing":348,"visibility":10,"cloudCover":0.14,"pressure":1033.33,"uvIndex":2},"flags":{"sources":["isd"],"isd-stations":["712980-99999","715380-99999","720113-54829","720902-99999","725370-94847","725373-54819","725375-14822","725376-14853","725377-14804","725384-04888","726375-94817","997219-99999","997258-99999","997996-99999","998339-99999","998492-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['87']
      X-Response-Time: [48.509ms]
    status: {code: 200, message: OK}
version: 1
