interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.6806,-83.1338,1460462700?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.6806,"longitude":-83.1338,"timezone":"America/Detroit","offset":-4,"currently":{"time":1460462700,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":34.47,"apparentTemperature":26.99,"dewPoint":24.46,"humidity":0.66,"windSpeed":9.6,"windBearing":294,"visibility":10,"cloudCover":0.09,"pressure":1023.09,"uvIndex":0},"flags":{"sources":["isd"],"isd-stations":["715380-99999","720113-54829","720902-99999","725370-94847","725373-54819","725375-14822","725376-14853","725377-14804","725384-04888","726370-14826","726375-94817","997219-99999","997258-99999","997996-99999","998339-99999","998492-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['33']
      X-Response-Time: [64.874ms]
    status: {code: 200, message: OK}
version: 1
