interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.7627,-84.4427,1460133480?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.7627,"longitude":-84.4427,"timezone":"America/Detroit","offset":-4,"currently":{"time":1460133480,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":37.17,"apparentTemperature":31.73,"dewPoint":23.02,"humidity":0.56,"windSpeed":7.01,"windBearing":266,"visibility":9.58,"cloudCover":0.24,"pressure":1008.51,"uvIndex":6},"flags":{"sources":["isd"],"isd-stations":["720284-04877","722125-04829","722346-54824","725374-94889","725378-04887","725390-14836","725395-14833","725396-14815","725405-54816","725409-04882","725415-54821","725417-54822","726350-94860","726370-14826","726375-94817","726379-14845"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['66']
      X-Response-Time: [44.658ms]
    status: {code: 200, message: OK}
version: 1
