interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.7283,-84.4882,1459955160?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.7283,"longitude":-84.4882,"timezone":"America/Detroit","offset":-4,"currently":{"time":1459955160,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0024,"precipProbability":0.03,"precipType":"rain","temperature":38.49,"apparentTemperature":30.72,"dewPoint":28.47,"humidity":0.67,"windSpeed":12.59,"windBearing":163,"visibility":9.78,"cloudCover":0.93,"pressure":1006.01,"uvIndex":2},"flags":{"sources":["isd"],"isd-stations":["720284-04877","722125-04829","722346-54824","725374-94889","725378-04887","725390-14836","725395-14833","725396-14815","725405-54816","725409-04882","725415-54821","725417-54822","726350-94860","726370-14826","726375-94817","726379-14845"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['64']
      X-Response-Time: [46.266ms]
    status: {code: 200, message: OK}
version: 1
