interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.8636,-85.6272,1460038380?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.8636,"longitude":-85.6272,"timezone":"America/Detroit","offset":-4,"currently":{"time":1460038380,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":35.66,"apparentTemperature":26.71,"dewPoint":31.2,"humidity":0.84,"windSpeed":13.78,"windBearing":323,"visibility":8.24,"pressure":999.95},"flags":{"sources":["isd"],"isd-stations":["720284-04877","720371-54850","720415-00140","722343-54826","725390-14836","725394-04839","725396-14815","725405-54816","725415-54821","725416-14864","726350-94860","726357-94815","726360-14840","997341-99999","997343-99999","998407-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['82']
      X-Response-Time: [49.821ms]
    status: {code: 200, message: OK}
version: 1
