interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.8636,-85.6272,1460471700?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.8636,"longitude":-85.6272,"timezone":"America/Detroit","offset":-4,"currently":{"time":1460471700,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":38.46,"apparentTemperature":31.64,"dewPoint":23.86,"humidity":0.55,"windSpeed":10.21,"windBearing":333,"visibility":10,"cloudCover":0.43,"pressure":1027.61,"uvIndex":2},"flags":{"sources":["isd"],"isd-stations":["720284-04877","720371-54850","720415-00140","722343-54826","725390-14836","725394-04839","725396-14815","725405-54816","725415-54821","725416-14864","726350-94860","726357-94815","726360-14840","997341-99999","997343-99999","998407-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['85']
      X-Response-Time: [38.627ms]
    status: {code: 200, message: OK}
version: 1
