interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.9536,-85.6576,1460037000?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.9536,"longitude":-85.6576,"timezone":"America/Detroit","offset":-4,"currently":{"time":1460037000,"summary":"Clear","icon":"clear-day","precipIntensity":0.0013,"precipProbability":0.01,"precipType":"rain","temperature":35.27,"apparentTemperature":26.42,"dewPoint":31.45,"humidity":0.86,"windSpeed":13.2,"windBearing":327,"visibility":7.78,"pressure":999.97},"flags":{"sources":["isd"],"isd-stations":["720284-04877","720415-00140","722343-54826","725390-14836","725394-04839","725396-14815","725405-54816","725415-54821","725416-14864","725424-04885","726350-94860","726357-94815","726360-14840","997341-99999","997343-99999","998407-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['72']
      X-Response-Time: [48.581ms]
    status: {code: 200, message: OK}
version: 1
