interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/42.9536,-85.6576,1460123760?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":42.9536,"longitude":-85.6576,"timezone":"America/Detroit","offset":-4,"currently":{"time":1460123760,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":33.44,"apparentTemperature":33.44,"dewPoint":21.28,"humidity":0.61,"windSpeed":1.8,"windBearing":0,"visibility":10,"cloudCover":0.18,"pressure":1008.69,"uvIndex":2},"flags":{"sources":["isd"],"isd-stations":["720284-04877","720415-00140","722343-54826","725390-14836","725394-04839","725396-14815","725405-54816","725415-54821","725416-14864","725424-04885","726350-94860","726357-94815","726360-14840","997341-99999","997343-99999","998407-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['73']
      X-Response-Time: [38.650ms]
    status: {code: 200, message: OK}
version: 1
