interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/45.5234,-122.6762,1459947960?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":45.5234,"longitude":-122.6762,"timezone":"America/Los_Angeles","offset":-7,"currently":{"time":1459947960,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":40.11,"apparentTemperature":40.11,"dewPoint":37.45,"humidity":0.9,"windSpeed":2.37,"windBearing":4,"visibility":9.06,"cloudCover":0.09,"pressure":1030.54,"uvIndex":0},"flags":{"sources":["isd"],"isd-stations":["720202-99999","726836-04201","726881-94273","726940-24232","726945-24202","726959-94281","726980-24229","726985-24242","726986-94261","726988-24219","727910-94224","727918-94298","727924-24223","994011-99999","997706-99999","997801-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['36']
      X-Response-Time: [86.314ms]
    status: {code: 200, message: OK}
version: 1
