interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.darksky.net/forecast/580dd9d0eddd4219f6d0f446c7990ec3/45.5234,-122.6762,1460121120?exclude=minutely,hourly,daily
  response:
    body: {string: '{"latitude":45.5234,"longitude":-122.6762,"timezone":"America/Los_Angeles","offset":-7,"currently":{"time":1460121120,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":51.25,"apparentTemperature":51.25,"dewPoint":45.03,"humidity":0.79,"windSpeed":2.07,"windBearing":303,"visibility":9.86,"cloudCover":0.08,"pressure":1010.67,"uvIndex":0},"flags":{"sources":["isd"],"isd-stations":["720202-99999","726836-04201","726881-94273","726940-24232","726945-24202","726959-94281","726980-24229","726985-24242","726986-94261","726988-24219","727910-94224","727918-94298","727924-24223","994011-99999","997706-99999","997801-99999"],"units":"us"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Forecast-API-Calls: ['38']
      X-Response-Time: [41.331ms]
    status: {code: 200, message: OK}
version: 1
